@import 'style/variables';

.ProjectCard {
  position: relative;
  height: 167px;
  overflow: hidden;

  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    height: 100%;
    width: 100%;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: '';
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &__title {
    @include title-overlay($white);
  }

  &__description {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    margin-top: auto;
  }

  &_name_aliencloud {
    background-image: url('../../static/projects/aliencloud.jpg');
  }
  &_name_goldencruises {
    background-image: url('../../static/projects/goldencruises.jpg');
  }
  &_name_vindog {
    background-image: url('../../static/projects/vindog.jpg');
  }
  &_name_dao {
    background-image: url('../../static/projects/dao.jpg');
  }
  &_name_helponclick {
    background-image: url('../../static/projects/helponclick.png');
  }
  &_name_ranobe {
    background-image: url('../../static/projects/ranobe.png');
  }
  &_name_ajaxfilebrowser {
    background-image: url('../../static/projects/ajaxfilebrowser.png');
  }
  &_name_nda-cargo-transportation {
    background-image: url('../../static/projects/nda-cargo-transportation.png');
  }
  &_name_steroids {
    background-image: url('../../static/projects/steroids.png');
  }

}
