@import 'style/variables';

.ProjectCard {
  display: flex;
  position: relative;
  height: 167px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);


  &, &:hover {
    text-decoration: none;
  }


  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    height: 100%;
    width: 100%;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: '';
    background: linear-gradient(to top, #000000, transparent);
    opacity: 0.4;
    z-index: 1;
    transition: opacity ease-in 0.15s;
  }


  &:hover {
    &:after {
      opacity: 0.1;
    }
  }

  &__title {
    @include title-overlay($white);
    color: #111111;
  }

  &__description {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    margin-top: auto;
  }

  &_name_aliencloud {
    background-image: url('../../static/projects/aliencloud.jpg');
  }
  &_name_goldencruises {
    background-image: url('../../static/projects/goldencruises.jpg');
  }
  &_name_vindog {
    background-image: url('../../static/projects/vindog.jpg');
  }
  &_name_waves-dao {
    background-image: url('../../static/projects/dao.jpg');
  }
  &_name_helponclick-app {
    background-image: url('../../static/projects/helponclick.png');
  }
  &_name_ranobe {
    background-image: url('../../static/projects/ranobe.png');
  }
  &_name_ithit-ajaxfilebrowser {
    background-image: url('../../static/projects/ajaxfilebrowser.png');
  }
  &_name_hyrrylorry {
    background-image: url('../../static/projects/nda-cargo-transportation.png');
  }
  &_name_yii-steroids {
    background-image: url('../../static/projects/steroids.png');
  }

}
