@import 'style/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.ContactsPage {
  position: relative;
  height: calc(100vh - 134px);
  min-height: 550px;

  &__map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #202020;
  }

  &__content {
    height: 100%;
    padding-top: 50px;
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  &__card {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    pointer-events: auto;
  }

  &__labels, &__icons {
    margin: 0;

    > li {
      list-style: none;
      padding: 0;
    }
  }

  &__labels {
    padding: 30px;

    li {
      padding-bottom: 15px;

      &:last-child {
        padding-bottom: 0;
      }

      > span {
        font-size: 14px;
        line-height: 1;
        display: block;
      }

      > a {
        font-size: 18px;

        &, &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }

  &__icons {
    padding: 0 30px 30px;
    display: flex;
    flex-direction: row;

    li {

      > a {
        margin-right: 20px;

        &:hover {
          opacity: .7;
        }
      }
    }

    img {
      width: 24px;
      height: 24px;
    }

  }

  @include media-breakpoint-down(sm) {
    &__content {
      padding-top: 20px;
    }

    &__labels {
      padding: 20px;

      li {
        padding-bottom: 10px;

        &:last-child {
          padding-bottom: 0;
        }

        > a {
          font-size: 14px;
        }
      }
    }

    &__icons {
      padding: 0 20px 20px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
