@import 'style/variables';

.IndexPage {
  margin-top: -60px;

  h2 {
    margin-left: -25px;

    > span {
      font-size: 14px;
      font-family: $font-family-monospace;
      color: $primary;
      position: relative;
      top: -12px;
      padding-right: 8px;
    }
  }

  @media screen and (max-width: 1200px) {
    h2 {
      margin-left: 0px;
    }
  }

}
