@import 'style/variables';

.IndexPage {

  h2 {
    margin-left: -25px;

    > span {
      font-size: 14px;
      font-family: $font-family-monospace;
      color: $primary;
      position: relative;
      top: -12px;
      padding-right: 8px;
    }
  }
}
