@import 'style/variables';

$modal-width: 900px;

.ModalView {
  &__modal {
    margin: auto;
    border: none;
    outline: none;
    max-width: $modal-width;
    width: 100%;
    height: auto;
    border-radius: 2px;
    background: #fff;
    z-index: $zindex-modal;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-fixed;
    display: flex;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: none;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__header {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: none;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 80px;
    height: 80px;
    z-index: 10;

    &:hover::before,
    &:hover::after {
      background-color: #888;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 50%;
      width: 2px;
      height: 24px;
      background-color: #666;
      box-shadow: 0 0 5px rgba(255,255,255,.3);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__content {
    display: flex;
    padding: 50px 0px;
    height: 100%;
  }

  &__prev, &__next {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    width: 50%;
    background: transparent;
    cursor: pointer;
    //color: rgba(255, 255, 255, .3);
    color: red;

    &::after {
      position: relative;
      z-index: $zindex-popover;
      font-size: 120px;
    }

    &:hover {
      color: rgba(255, 255, 255, .9);
    }
  }

  &__prev {
    left: 0;

    &::after {
      content: '<';
    }
  }

  &__next {
    right: 0;

    &::after {
      content: '>';
    }
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}

//fade
.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
