@import "style/variables";

.ButtonView {
  $root: &;
  position: relative;

  &__icon {
    margin-right: 3px;

    &_without-label {
      margin: 0;
    }
  }

  &_is-loading &__label {
    opacity: 0;
    //
  }

  &__preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  &_color_primary {
    position: relative;
    padding: 20px 40px;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    outline: none;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    color: $white;
    font-size: 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    background: transparent;


    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      display: block;
      border-radius: 2px;
      background: linear-gradient(101deg, rgb(70,24,115) 0%, rgb(152,0,64) 100%);
    }

    &:after {
      opacity: 0;
      background-image: linear-gradient(101deg, rgb(70,24,115) 40%, rgb(152,0,64) 100%);
      transition: opacity 0.1s;
    }

    #{$root}__label {
      position: relative;
      z-index: 2;
    }

    &:hover {
      outline: none;
      text-decoration: none;

      &:after {
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
    }
  }
}