@import '~bootstrap/scss/functions';
@import './bootstrap/custom-variables';
@import '~bootstrap/scss/variables';

$mobile-gutters: 20px;

@mixin bg-skew($color: $dark) {
  position: relative;

  &::after {
    position: absolute;
    top: -12%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 124%;
    transform: skew(0, -1deg);
    background: $color;
    display: block;
    content: '';
  }

  > * {
    position: relative;
    z-index: 2;
  }

  @media screen and (max-width: 991px) {
    &::after {
      top: -5%;
      height: 111%;
    }
  }

  @media screen and (max-width: 767px) {
    &::after {
      top: -5%;
      height: 109%;
    }
  }
}

@mixin title-overlay($color: #f2f2f2) {
  display: inline-block;
  padding: 17px 19px;
  background: $color;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-ms-input-placeholder {@content}
  &::placeholder {@content}
}


