@import "style/variables";
@import '~bootstrap/scss/mixins/breakpoints';

.SectionDirections {
  position: relative;

  &__h2 {
    margin-bottom: 35px;
  }

  &__title-grey {
    @include title-overlay();
  }

  &__title-white {
    @include title-overlay($white);
  }

  &__bg {
    @include bg-skew(#f4f3f9);
    margin: 100px 0px;
  }

  &__section-crypto {
    padding: 53px 0px 26px;
  }


  &__section-api {
    padding: 40px 0px 90px;
  }


  &__left-listing {
    padding-right: 60px;

    .List__title {
      @include title-overlay();
    }
  }

  &__right-listing {
    padding-left: 40px;

    .List__title {
      @include title-overlay($white);
    }
  }

  .List__item-description {
    color: $gray-700;
  }

  .ProjectCard:not(:last-child) {
    margin-bottom: 30px;

  }

  &__more-link {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $zindex-dropdown;
  }


  @include media-breakpoint-down(lg) {

    &__section-crypto {
      padding: 23px 0px 26px;
    }

    &__right-listing,
    &__left-listing {
      padding-right: 0px;
      padding-left: 0px;
    }

    &__section-api {
      padding: 0px 0px 50px;
    }

    &__more-link {
      bottom: -75px;
    }

  }

}
