@import "style/variables";

.SectionFeedback {
  $gradient: linear-gradient(165deg, #ac0050, #4f1776);

  @include bg-skew($gradient);
  margin: 55px 0px 0px;
  padding-bottom: 55px;

  h2 {
    margin-bottom: 20px;
    color: #ffffff;
  }
  &__item {
    margin-bottom: 12px;
  }

  &__item-label {
    color: #cccccc;
    margin-right: 18px;
  }

  &__item-link {
    color: $white;

    &:hover {
      color: $white;
      opacity: 0.8;
      text-decoration: none;
    }
  }

  &__text-field-wrap {
    flex-grow: 2;
    margin-bottom: 1rem;

    .FieldLayoutView,
    .FieldLayoutView__field{
      height: 100%;
      margin: 0;
    }
  }

  &__text-field {
    height: 100%;
  }

}



