@import "style/variables";

.SectionTechnologies {
  position: relative;
  z-index: 10;
  padding: 73px 0px 70px;

  p {
    font-size: 16px;
    padding: 5px 0 0 0;
  }

  &__description {
    margin-bottom: 42px;
  }

  &__cart {
    max-width: 320px;
    width: calc(100%/3);
    min-width: 300px;
  }

  &__cart-tags {
    span {
      display: inline-block;

      &::after {
        display: inline-block;
        color: $gray-500;
        content: '•';
        padding: 0 5px;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  &__cart-tech {
    font-size: 24px !important;
  }

  &__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      width: 25%;
      padding: 26px;
    }

  }

  &__cart-title {
    position: relative;
    margin-bottom: 15px;
    @include title-overlay();

    &_logo_yii, &_logo_react {
      &::after {
        position: absolute;
        top: 50%;
        right: -95px;
        display: inline-block;
        content: '';
      }
    }

    &_logo_yii {
      &::after {
        width: 80px;
        height: 34px;
        margin-top: -17px;
        background: url('../../../static/logo-yii.svg');
      }
    }

    &_logo_react {
      &::after {
        width: 80px;
        height: 56.6px;
        margin-top: -28.3px;
        background: url('../../../static/logo-react.svg');
        right: -81px;
      }
    }
  }
}
