@import 'style/variables';

.Project {
  &__list {

    .List__item {
      margin-bottom: 10px;
    }
  }

  &__screens {
    margin-top: 40px;
  }
  &__screens-item {
    margin-bottom: 40px;
    text-align: center;

    > img {
      max-width: 100%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
      border-radius: 2px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    z-index: 1;
    background-size: cover;
    background-position: center;
    border-bottom: solid 50px #eee;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &_with-bg h1 {
    color: #fff;
  }

  &__tags {
    white-space: nowrap;
    margin-bottom: 20px;
  }

  &__tags-item {
    font-size: 12px;
    font-weight: normal;
    border-radius: 2px;
    padding: 3px 6px;
    display: inline-block;
    margin-right: 5px;
    background-color: #eee;

    &:hover {
      background-color: #fff;
    }
  }

}
