@import 'style/variables';

.Project {
  $root: &;
  width: 100%;

  &__list {
    .List__item {
      margin-bottom: 10px;
    }
  }

  &__screens {
    margin-top: 40px;
  }
  &__screens-item {
    margin-bottom: 40px;
    text-align: center;

    > img {
      max-width: 100%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
      border-radius: 2px;
    }
  }


  &__description-text {
    margin: 0px;
    padding: 12px 0px;
  }

  &__content {
    padding-top: 10px;
  }

  &__tags {
    white-space: nowrap;
    margin-bottom: 20px;
  }

  &__tags-item {
    font-size: 12px;
    font-weight: normal;
    border-radius: 2px;
    padding: 3px 6px;
    display: inline-block;
    margin-right: 5px;
    background-color: #eee;

    &:hover {
      background-color: #fff;
    }
  }

  &_with-bg {
    margin-top: -50px;

    h1 {
      position: relative;
      z-index: 2;
      color: #fff;
      margin-bottom: 15px;
    }

    #{$root}__bg {
      position: relative;
      display: flex;
      height: 110px;
      background-size: cover;
      background-position: center;

      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.4;
        background: linear-gradient(to top, #000000, transparent);
      }
    }


    #{$root}__content {
      padding-top: 20px;
    }

    #{$root}__description {
      display: flex;
      background: #eee;
    }
  }

  &_modal {
    .container-fluid {
      padding: 0px 60px;
    }
  }

}

